.top{
	height: 200px;
    width: 200px;
}

.bottom{
	height: 250px;
    width: 200px;
}

.jackets{
	height: 200px;
    width: 200px;
}

.dresses{
	height: 250px;
    width: 200px;
}

.swim{
	height: 200px;
    width: 200px;
}

.lounge{
	height: 250px;
    width: 200px;
}

.active{
	height: 200px;
    width: 200px;
}

.accessory{
	height: 200px;
    width: 200px;
}

.shoes{
	height: 200px;
    width: 200px;
}

.closetbackground{
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-attachment: fixed;
    background-position: center; 
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 200px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 16px 16px;
  text-transform: capitalize
}