<!doctype html>
<html>
<head>
    <title>CLOTHETS</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="icon" href="static/img/unnamed.png">
    <link rel="stylesheet" type="text/css" href="static/css/prettyify.css">
</head>
<span>
	
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>	
  <a href="/add_clothes">Add clothes</a>
  <a href="/closet">See your closet</a>
  <a href="/outfit">Get an outfit</a>
  <a href="/favorites">Favorite Outfits</a>
  <a href="/past_outfits">Past Outfits</a>
  {% if "username" in session %}
	    <a href="/logout">Logout</a>
	{% endif %}
  
  <span class="footer"><h4>Clever Closets
 	 <img id="silvy" src="static/img/unnamed.png">
  </span>
</div>
</span>	
<br>

<p>
<span class="navbarbtn" onclick="openNav()">&#9776;</span>
</p> 
<script>
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
  }
</script>
<body>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}

    Put your body here.

{% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>


</div>
</html>