<!doctype html>
<html>
<head>
    <title>CLOTHETS</title>
    <link rel="icon" href="static/img/unnamed.png">
    <link rel="stylesheet" type="text/css" href="static/css/prettyify.css">
</head>
<body>

Clothets 

{% if "username" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

<div align="right">
	{% if "username" in session %}
	    {{ session["temp"] }}℉ and 
	    	{% if session["status"] == "Haze" %}
	    		⛅️
	    	{% elif session["status"] == "clouds" %}
	    		☁️
	    	{% elif session["status"] == "clouds" %}
	    		☀️
	    	{% else %}
	    		☔️
	    	{% endif %}
	{% endif %}
</div>	

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>

<footer>
<img src="static/img/unnamed.png" style="width:100px;height:100px">
</html>