{% extends 'base.html' %}
{% block content %}

 <h1>Your closet!</h1>
 	
 <h3>Tops:
	 {% for top in tops %}
	 	<img src="{{top.url}}">
	 {% endfor %}

 <h3>Bottoms:
	 {% for bottom in bottoms %}
	 	<img src="{{bottom.url}}">
	 {% endfor %}

 <h3>Dresses:
	 {% for dress in dresses %}
	 	<img src="{{dress.url}}">
	 {% endfor %}

 <h3>Jackets:
	 {% for jacket in jackets %}
	 	<img src="{{jacket.url}}">
	 {% endfor %}

 <h3>Lounge:
	 {% for loung in lounge %}
	 	<img src="{{loung.url}}">
	 {% endfor %}

 <h3>Swim:
	 {% for swam in swim %}
	 	<img src="{{swam.url}}">
	 {% endfor %}

 <h3>Active:
	 {% for activ in active %}
	 	<img src="{{activ.url}}">
	 {% endfor %}

 <h3>Accessories:
	 {% for accessory in accessories %}
	 	<img src="{{accessory.url}}">
	 {% endfor %}

<h3>Shoes:
	 {% for shoe in shoes %}
	 	<img src="{{shoe.url}}">
	 {% endfor %}

  <br>
  <br>
  <a href="/users">Back to homepage</a>
  </h2>

{% endblock %}