{% extends 'base.html' %}
{% block content %}

<body class="formbackground" background="static/img/hip-square.png"> 
<h1>Please enter some details about your activity.</h1>

<div class="container">
<form action="/outfit_generated" method="POST">
  <div class="form-group">
  <div class="col-md-6">
      <label><h3><b>Enter a zipcode</b></label>
          <input type="text" name="zipcode" required>
  </div>
  </div>
  <div class="form-group">
  <div class="col-md-6">
      <label><h3><b>Choose an activity</b></label>
      <select name="activity">
        <option value="default" selected="true" disabled="disabled">Choose One</option>
        <option value="Urban Hike"> Urban Hike</option>
        <option value="Dinner"> Dinner</option>  
        <option value="Brunch"> Brunch</option>
        <option value="Workout"> Workout</option>
        <option value="Concert"> Concert</option>  
        <option value="Girls Night Out"> Girls Night Out</option>
        <option value="Hiking"> Hiking</option>
        <option value="Casual Date"> Casual Date</option> 
        <option value="Stay At Home"> Stay at Home</option>
        <option value="Beach"> Beach</option>
        <option value="Picnic"> Picnic<//option> 
        <option value="Date Night"> Date Night</option>
        <option value="Pool"> Pool</option>
      </select>    
  </div>
  </div>
  <div class="col-md-8 offset-md-5">
      <button type="submit" class="btn btn-primary">Show Me An Outfit</button>
  </div>

</form>
</div>

<br>
<br>
<br>


{% endblock %}