{% extends 'base.html' %}
{% block content %}

<h1>Please enter some details about your activity</h1>

<form action="/outfit_generated" method="POST">

  <div>
      <label>What zip code are you in?
          <input type="text" name="zipcode" required>
      </label>
  </div>

  <div>
      <label>What activity will you be doing?
      <select name="activity">
        <option value="default" selected="true" disabled="disabled">Choose One</option>
        <option value="Urban Hike"> Urban Hike</option>
        <option value="Dinner"> Dinner</option>  
        <option value="Brunch"> Brunch</option>
        <option value="Workout"> Workout</option>
        <option value="Concert"> Concert</option>  
        <option value="Girls Night Out"> Girls Night Out</option>
        <option value="Hiking"> Hiking</option>
        <option value="Casual Date"> Casual Date</option> 
        <option value="Stay At Home"> Stay at Home</option>
        <option value="Beach"> Beach</option>
        <option value="Picnic"> Picnic<//option> 
        <option value="Date Night"> Date Night</option>
        <option value="Pool"> Pool</option>   
        <!-- {{ select_string }} -->
    </label>
      </label>
  </div>

  <div>
      <input type="submit" value="Submit">
  </div>
<br>
<br>
<br>


{% endblock %}