{% extends 'base.html' %}
{% block content %}

the weather is {{ temp }} <br>

{% if temp < 65 %}
  It's cold out. You're probably going to want a jacket.
{% else %}
  It's warm out! You don't need a jacket today.
{% endif %}

<br>

<h2>Your outfit for {{ activity }}:</h2><br>
<button id="addjacket">Add a Jacket!</button>
<br>

<div>
  <img class="top" src="{{ top }}"><br>
</div>
<div>
  <img class="bottom" src="{{ bottom }}"><br>
</div>  
<div>
  <img id="jacket" class="jackets" src="{{ jacket }}" style="display: none;">
</div>

<script>
  var temp = {{ temp }}

  if (temp < 65){
    document.getElementById('addjacket').style.visibility="visible";
  }
  else{
    document.getElementById('addjacket').style.visibility="hidden";
  }

  var button = document.getElementById('addjacket');

  function addJacket(){
    document.getElementById('jacket').style.display="inline";
  }

  button.addEventListener('click', addJacket);

</script>



<a href="/outfit">Make another outfit for another activity</a><br>
<a href="/users">Homepage</a>
{% endblock %}